.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.talk-button {
  border-radius: 5px;
  color: black;
  padding: 5px 10px;
  background-color: #BF9A54;
  box-shadow: 2px 2px 5px 2px #3B4018;
  font-size: 30px;
  border: none;
  margin: 15px auto;
  display: block;
  width: 250px;
}

.talk-button:hover {
  background-color: #4C591C;
  color: white;
}